<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ecommerce" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex"> <!-- mt-28 applies margin top of 7rem (font size * 7) px means horizontal padding of 1.25 rem on both sides!-->
            <nav class="flex w-full"><!--flex box aking full width inside the container!-->
                    <div class = "w-64 p-4 h-screen bg-green-900 sticky top-0 z-10"> <!--this is the container    the h-screen means full viewport height
                                                                                section for the navbar!    sticky makes it stick and top-0 means offset from top--> 
                        <div class="flex">
                            <%= image_tag 'logo.png', class: 'w-16 p-2' %> <!--the image_tag calls an image basically, width-16!-->
                            <h1 class = "text-md py-5 text-white font-bold hidden md:block">ADMIN PANEL</h1><!--hidden on small screens and as a blcok in medium screens, paddung up of 2 !-->
                        </div>
                        <br>
                        <ul class="flex flex-col text-white">
                            <li><!--list item!-->
                                <%= link_to admin_path, class: "block px-4 py-3 bg-green-700 rounded hover:rounded hover:bg-green-500" do %>
                                <!--link to is a rails helper for hyperlink
                                     admin path generates URL for armin dashboard based on routes defines in routes.rb          do allows you to execute code!-->
                                <%= icon('fa-solid', 'gauge-high')%><span class="hidden md:inline-block px-2"> <!--calls gaugemethod from fa-solid class!-->
                                    Dashboard</span>
                                    <% end %>
                            </li>
                            <br>
                            <li><!--list item!-->
                                <%= link_to admin_path, class: "block px-4 py-3 bg-green-700 rounded hover:rounded hover:bg-green-500" do %>
                                <!--link to is a rails helper for hyperlink
                                     admin path generates URL for armin dashboard based on routes defines in routes.rb          do allows you to execute code!-->
                                <%= icon('fa-solid', 'shopping-cart')%><span class="hidden md:inline-block px-2"> <!--calls gaugemethod from fa-solid class!-->
                                   Products</span>
                                    <% end %>
                            </li>
                            <br>
                            <li><!--list item!-->
                                <%= link_to admin_path, class: "block px-4 py-3 bg-green-700 rounded hover:rounded hover:bg-green-500" do %>
                                <!--link to is a rails helper for hyperlink
                                     admin path generates URL for armin dashboard based on routes defines in routes.rb          do allows you to execute code!-->
                                <%= icon('fa-solid', 'list')%><span class="hidden md:inline-block px-2"> <!--calls gaugemethod from fa-solid class!-->
                                    Categories</span>
                                    <% end %>
                            </li>
                            <br>
                            <li><!--list item!-->
                                <%= link_to admin_path, class: "block px-4 py-3 bg-green-700 rounded hover:rounded hover:bg-green-500" do %>
                                <!--link to is a rails helper for hyperlink
                                     admin path generates URL for armin dashboard based on routes defines in routes.rb          do allows you to execute code!-->
                                <%= icon('fa-solid', 'truck')%><span class="hidden md:inline-block px-2"> <!--calls gaugemethod from fa-solid class!-->
                                    Orders</span>
                                    <% end %>
                            </li>
                            <br>
                        </ul>
                    </div>

            </nav>
      <%= yield %>
    </main>
  </body>
</html>
